.banner {
  background: url(../../../Images/bannerbackground.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  position: relative;
}
.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.banner-form {
  width: 100%;
  max-width: 500px;
  border-radius: 30px !important;
  margin: auto !important;
  padding: 2px !important;
  background: #fff !important;
}
.banner-input {
  border-radius: 30px !important;
  border: none !important;
  margin: 2px;
  box-shadow: none !important;
}
